<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.k4dima.photoframe">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".features.app.App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".features.main.ui.MainActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.preferences.PreferencesActivity"
            android:configChanges="orientation"
            android:label="@string/menu_settings"
            android:parentActivityName=".features.main.ui.MainActivity" />
    </application>
</manifest>